[alias]
  a = add
  ap = add --patch
  b = branch
  bigtree = log --pretty=format:'%C(yellow)commit %H%Creset%C(auto)%d%Creset%nCommitter: %cn <%ce>%n%n%s%n%C(magenta)%cr (%cD)%Creset%n%n%b' --name-status --graph
  ci = commit
  ca = commit --amend
  can = commit --amend --no-edit
  co = checkout
  di = diff 
  diffc = diff --cached
  last = log -1 --name-status
  minitree = log --oneline --graph
  reb = rebase
  reba = rebase --abort
  rebc = rebase --continue
  rebi = rebase -i
  rebs = rebase --skip
  st = status
  size = count-objects -vH
  sleuth = log --all --full-history
  su = status -u
  tagsort = tag --sort=taggerdate
  tree = log --pretty=format:'%C(yellow)commit %H%Creset%C(auto)%d%Creset%nCommitter: %cn <%ce>%n%n%s%n%C(magenta)%cr (%cD)%Creset%n%n%b' --graph
  undo = reset --soft HEAD~
  update = remote update --prune
  where = log --pretty=format:'%C(magenta)%cr%Creset %C(yellow)%h%Creset%C(auto)%d%Creset%n%s%n' --branches --follow
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
[branch]
  autosetuprebase = always
[push]
  default = simple

[user]
	email = zdj925@gmail.com
	name = zdj925@gmail.com
[http]
	version = HTTP/1.1
	postBuffer = 524288000
	proxy = socks5://127.0.0.1:10811
[https]
	proxy = socks5://127.0.0.1:10811
